body {
    background-color: grey;
}

.navbar {
    margin-bottom: 0;
}

.navbar-header {
    float: left;
    background-color: black;
    text-transform: uppercase;
}

.navbar-default .navbar-toggle {
    background-color: black;
    margin-right: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: black;
}

.navbar-collapse {
    clear: both;
}

.icon-bar, .icon-text {
    color: white;
}

.icon-bar {
    float: left;
    clear: both;
}

.icon-text {
    padding-left: 10px;
}

.icon-text-foot {
    padding: 5px 10px;
    font-size: 15px;
}

.chat {
    text-align: right;
}

.phone {
    text-align: left;
}

.footer-main .glyphicon {
    padding: 7px;
    font-size: 14px;
}

.tabs {
    background-color: white;
}

.tabs .nav {
    text-transform: uppercase;
    font-size: 2em;
}

.tabs .nav a {
    color: black;
}

.logo { height: auto;}

.logo img {
    max-width: 100%;
}

.bs-header,
.bs-wrapper > .footer {
    position: relative;
    box-shadow: 0px 5px 5px 0px;
}

.bs-header > .row {
    padding: 0 5%;
}

.row.search {
    padding: 25px 10px 0 10px;
}

.search-group {
    width: 80%;
    float: left;
}

.search-group * {
    border-radius: 0;
}

.searchbar {
    color: black;
    text-transform: uppercase;
}

.search-icon {
    color: white;
}

.cart-icon {
    color: white;
    font-size: 2em;
    padding: 5px 5%;
}

.header-main {
    background-color: black;
}

.acct-nav {
    padding: 0;
}

.nav#personal-links {
    margin: 10px 0;
}

.nav#personal-links > li {
    float: left;
    border-left: 2px solid white;
}

.nav#personal-links > li:first-child {
    border-left: none;
}

.nav#personal-links a {
    color: white;
    text-transform: uppercase;
}

.nav#personal-links > li > a:hover {
    background-color: none;
    color: yellow;
}

.featured_heading_h h1 {
    margin-bottom: 20px;
}

.brand-carousel-slick {
    padding: 0 25px;
}

.container.main {
    max-width: 1024px;
    width: 100%;
}

.container.main .content {
    width: 100%;
}

.container.footer{
    text-transform: capitalize;
    font-size: 1em;
    text-align: left;
    background-color:white;
    max-width: 1024px;
    width: 100%;
    min-height: auto;
}

ul.nav.footer.nav-justified,
.second-nav {
    background-color: #E6CC02;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
}

#site-nav {
    background-color: #E6CC02;
}

.row.help strong{
    color: white;
}


.row.help {

    color: #E6CC02;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-right: 0;
    margin-left: 0;

    font-size: 1.5em;

}

.row.help strong {
    font-size: 1.4em;
}
.row.footer-nav{
	color: #E6CC02;
    font-weight: 600;
}

.footer {
    background-color: black;
}



ul.nav.footer.nav-justified >li {

	border-left: 2px solid black;
}



ul.nav.footer.nav-justified >li:first-child {
    border-left: none;
}


ul.nav.footer.nav-justified >li a {

text-transform: uppercase;
 color:black;
 font-weight: 900
}

.comment-icon{
	  color: black;
	  background-color:white;
	padding: 1px 1%;
}

.phone-icon{
		  color: black;
	  background-color:white;
	padding: 1px 1%;

}
.col-xs-6.chat strong {
    background-color: #E6CC02;
    /*padding-left: 10px;*/
    /*padding-right: 16px;*/
}


.col-xs-6.phone strong {
    background-color: #E6CC02;
    /*padding-left: 10px;*/

}




ul.nav.footer-links.nav-justified >li a  {
 color:white;
}



ul.nav.footer-links.nav-justified>li>a:hover {
    text-decoration: underline;
	background-color:black;
}


.container-fluid.bs-footer {
    padding-left: 0px;
    padding-right: 0px;
}
.col-xs-4.col-md-push-4.social {
    width: 16%;
	color:black;
}

.col-xs-6.copyright{

	color:black;
}

@media screen and (min-width: 768px) {


    .mobile-nav { display: none;}

    ul.nav.footer.nav-justified {
        padding: 0 10%;
    }
}



@media screen and (max-width: 768px) {
    .main-nav { display: none;}

    .bs-header > .tabs {
        padding: 0;
    }

    ul.nav.footer.nav-justified {
        margin-left: 25%;
        width: 50%;
    }

    ul.nav.footer.nav-justified >li {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        background-color: #E6CC02;
    }

}


@media screen and (max-width: 990px) {
	.col-xs-4.col-md-push-4.social {
   float:right;
}

.row.col-md-6.col-md-push-3.footer-nav {
    padding-top: 15px;
}



.col-xs-6.col-xs-pull-2.phone{
    right: 0%;
}
.col-xs-6.col-xs-push-2.chat {
    left: 0%;
}


}

.col-md-2.left-ad{
    background-color: black;
    padding-bottom: 3%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
	color: #E6CC02;
}

.col-md-2.left-ad strong{

	color:white;

}

.col-md-6.right-ad {
    background-color: #FFFFFF;
	border-right: 17px solid #E6CC02;
    padding-bottom: 3%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
	border-left: 9px solid #4D4A4A;
}


span.glyphicon.glyphicon-plus.plus-icon {
    background-color: #E6CC02;
}
